<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>New joke!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <form action="/api/jokes" method="POST">
      <input type="text" name="question" placeholder="Enter the question" />
      <input type="text" name="answer" placeholder="Enter the answer" />
      <input type="number" name="rating" placeholder="Enter a rating" />
      <!-- <input type="number" name="author_id" placeholder="Enter an author id" /> -->
      <select name="author_id">
        <option value="">Select an author</option>
        <% for(const author of authors){ %>
        <option value="<%= author.id %>"><%= author.name %></option>
        <% } %>
      </select>
      <button>Add joke!</button>
    </form>
  </body>
</html>
